<ul class="list-unstyled">
    <li *ngFor="let questionGroup of questionGroups">
        <h3 style="margin-top: 1em;">{{questionGroup.questionType | uppercase}}</h3>
        <ul>
            <li *ngFor="let question of questionGroup.questionList">
                <hr/>
                <div>{{question.questionText}}</div>
                <div *ngIf="question.codeSnippet" style="margin: 1em;">
                    <code>{{question.codeSnippet}}</code>
                </div>
                <ul class="list-unstyled">
                    <li *ngFor="let answer of question.answers">
                        <label>
                                <input type="checkbox" [(ngModel)]="answer.selected" >
                                &nbsp;&nbsp;{{answer.answer}}
                            </label>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<button class="btn btn-primary" (click)="submitAnswers()">Submit</button>